@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
   --Light-red: rgb(255, 87, 87);
   --Orangeyyellow: rgb(255, 176, 31);
   --Green-teal: rgb(0, 189, 145);
   --Cobalt-blue: rgb(17, 37, 212);
   --Light-slate-blue-background: rgb(120, 87, 255);
   --Light-royal-blue-background: hsl(241, 81%, 54%);

    --Violet-blue-circle: hsla(256, 72%, 46%, 1 );
    --Persian-blue-circle: hsla(241, 72%, 46%, 0 );
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}
body{
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
     font-weight: 700;
     font-weight: 800;
    
    
}
.contianar{
    width: 800px;
    height:450px;
    /* background-color:red; */
    margin: auto;
    margin-top: 100px;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;  
}
.background{
    width: 300px;
    height: 400px;
    background-color: var(--Light-royal-blue-background);
    border-radius: 20px;
    margin-top: 35px;
    margin-left: 100px;
    position: absolute;
    box-shadow: 0 10px 10px 5px rgba(120, 87, 255,0.25);
    text-align: center;
    display: grid;
    gap: 5px;
    padding-top: 35px;
}
h3 {
    color: var(--Light-lavender);
}


.circle{
    background-color: var(--Violet-blue-circle);
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    margin-top: -5px;
    box-shadow: 30px 30px 30px 30px rgba(120, 87, 255,0.25);
}
.circle h1{
    
    padding-top: 30px;
    font-size: 35px;
    font-weight: 800;
    color: var(--White);
}

.circle span{
    font-size: 12px;
    color: var(--Light-lavender);
}
.phara{
    width: 300px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
   
}
.phara h2{
    color: var(--Pale-blue);
    margin-top: -25px;
}
.phara p{
    font-size: 14px;
    margin-top: 15px;
    color: var(--Light-lavender);
    line-height: 1.8;
    
    
}


.list{
    padding-left: 50px;
    width: 300px;
    height: 400px;
    background-color: var(--White);
    margin-top: 35px;
    margin-left: 380px;
    border-radius: 0 20px 20px 0;
    box-shadow: 10px 10px 10px 5px rgba(120, 87, 255,0.25);
}
.list h4{
    padding-top: 35px;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.list ul li {
    list-style: none;
    padding: 12px 20px 12px 40px;
    background-color: rgba(255, 87, 87,0.1);
    margin-top: -37px;
    width: 220px;
    border-radius: 10px;
    font-size: 14px;
    height: 42px;
   
    /* padding-top: 40px; */
   
}
.list ul .item2{
    background-color:rgba(255, 176, 31,0.1);
}
.list ul .item1{
    color: rgba(255, 87, 87,0.5);
    text-transform: capitalize;

}
.list ul .item2{
    color: rgba(255, 176, 31,0.8);
}
.list ul .item3{
   background-color:rgba(0, 189, 145,0.1) ; 

}
.list ul .item4{

   background-color:  rgba(17, 37, 212,0.1);
}

  
  
img{
    /* position: absolute; */
    margin-left: 10px;
    margin-top: 25px;
    
    
    /* width: 20px; */
}
.item1 {
    color:  rgb(255, 87, 87);

}
.item3{
    color: rgba(0, 189, 145,0.5) ;
}
.item4{
    color: rgba(17, 37, 212,0.5);

}
h6{
    padding-left: 110px;
    margin-top: -12px;
    font-size: 12px;
    color: var(--Dark-gray-blue);

}
h6 span{
    color: var(--Light-lavender);
}
.list button{
    padding: 12px 75px;
    border-radius: 25px;
    margin-top: 25px;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    text-transform: capitalize;
    font-size: 15px;
    font-weight:600;
    letter-spacing: 0.5px;
}
.list button:hover{
    background-color: var(--Light-royal-blue-background);
    
}
@media(max-width:330px){
    .content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .background{
        width: 320px;
        height: 400px;
        background-color: var(--Light-royal-blue-background);
        border-radius: 20px;
        margin-top: -140px;
        margin-left: 0;
        position: absolute;
        text-align: center;
       
       
        display: grid;
        gap: 5px;
        padding-top: 60px;
    }
    .list{
        padding: 20px;
        width: 320px;
        height: 500px;
        background-color: var(--White);
        margin-top: 230px;
        margin-left: 2px;
        border-radius: 0 0 0 0;
        box-shadow: 10px 10px 10px 5px rgba(120, 87, 255,0.25);
    }
    .list h4{
        padding-top: 30px;
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: 0;
        padding-bottom: 10px;
    }
    .list ul li {
        list-style: none;
        padding: 14px 20px 12px 40px;
        background-color: rgba(255, 87, 87,0.1);
        margin-top: -37px;
        width: 280px;
        border-radius: 10px;
        font-size: 14px;
        height: 52px;
       
        /* padding-top: 40px; */
       
    }
    h6{
        padding-left: 170px;
        margin-top: -12px;
        font-size: 12px;
        color: var(--Dark-gray-blue);
    
    }
    .list button{
        padding: 17px 100px;
        border-radius: 30px;
        margin-top: 25px;
        background-color: var(--Dark-gray-blue);
        color: var(--White);
        text-transform: capitalize;
        font-size: 15px;
        font-weight:600;
        letter-spacing: 0.5px;
    }
    .phara{
        width: 320px;
       
        text-align: center;
   
    }
    .phara p{
        font-size: 12px;
       
        color: var(--Light-lavender);
        line-height: 1.8;
        
        
    }

}